In [1]:
import pandas as pd                    # imports
nations_file = "nations.json"          # variables
nations = pd.read_json(nations_file)   # read data

In [2]:
# get column variable names
nations.columns.values

array(['income', 'lifeExpectancy', 'name'], dtype=object)

In [3]:
# get summary statistics per variable
nations.describe()

             income  lifeExpectancy
count    180.000000      180.000000
mean   12433.508667       69.130333
std    13807.488074       10.253264
min      358.800000       44.300000
25%     2279.067500       62.077500
50%     7158.380000       72.105000
75%    18112.165000       76.525000
max    74138.280000       82.980000

In [4]:
# get head data 
nations.head()

     income  lifeExpectancy          name
0   5055.59           47.58        Angola
1   1457.57           61.89         Benin
2  12282.28           55.12      Botswana
3   1234.42           53.38  Burkina Faso
4    457.07           50.95       Burundi